.event {
    background-color: orangered;
    width: 86%;
    height: 300%;
    font-size: 2rem;
    position: absolute;    
    left: 2.9rem;
    top: 50%;
    z-index: 11;
    border-radius: 15px;
    padding: .5rem;
}

